/* Container principal da galeria */
.gallery-container {
  padding: 20px; /* Espaçamento interno */
}

.gallery {
  column-count: 3; /* Número de colunas em desktops */
  column-gap: 15px; /* Espaçamento entre as colunas */
}

/* Estilo para os itens da galeria */
.gallery-item {
  break-inside: avoid; /* Evita que os itens quebrem dentro das colunas */
  margin-bottom: 15px; /* Espaçamento entre as imagens */
  position: relative;
  overflow: hidden;
  border-radius: 8px; /* Borda arredondada */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave para destaque */
}

/* Diminuindo o tamanho das imagens */
.gallery-item img {
  width: 95%; /* Ajuste a largura para ocupar menos espaço */
  height: auto; /* Mantém a proporção das imagens */
  display: block;
  transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
}

/* Efeito de zoom ao passar o mouse */
.gallery-item:hover img {
  transform: scale(1.05); /* Efeito de zoom nas imagens ao passar o mouse */
}

/* Responsividade para tablets */
@media (max-width: 1024px) {
  .gallery {
    column-count: 2; /* Diminui o número de colunas em tablets */
    column-gap: 10px;
  }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .gallery {
    column-count: 1; /* Apenas uma coluna em dispositivos móveis */
    column-gap: 0;
  }

  .gallery-item {
    margin-bottom: 10px;
  }
}

/* Estilo para a mensagem de agradecimento */
.thank-you-message {
  margin-bottom: 20px; /* Espaço abaixo da mensagem */
  text-align: center; /* Centraliza o texto */
}

.thank-you-message h1 {
  font-size: 1.8rem; /* Tamanho do título */
}

.thank-you-message p {
  font-size: 1rem; /* Tamanho do texto */
}
