/* Estilos gerais */
h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px; /* Espaçamento inferior do título */
}

.session {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px; /* Aumenta o espaçamento inferior para separar as seções */
  padding: 60px; /* Adiciona padding para espaçamento interno */
}

/* Estilos para o tema claro */
.home-container.claro {
  background-color: #ffffff;
  color: #000000;
}

/* Estilos para o tema escuro */
.home-container.escuro {
  background-color: #1a1a1a;
  color: #f0f0f0;
}

/* Botão para alternar tema - canto inferior direito */
.toggle-theme {
  position: fixed; /* Mantém o botão fixo na tela */
  bottom: 20px; /* Distância do fundo da tela */
  right: 20px; /* Distância do lado direito da tela */
  padding: 8px 12px; /* Espaçamento interno do botão */
  font-size: 25px; /* Tamanho da fonte */
  background-color: #007bff; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  border-radius: 50px; /* Cantos arredondados */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  z-index: 1000; /* Garante que o botão fique acima de outros elementos */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra do botão */
  transition: background-color 0.3s ease; /* Transição suave na mudança de cor */
}

.toggle-theme:hover {
  background-color: #0056b3; /* Cor do botão ao passar o mouse */
}


/* Ajuste para responsividade */
@media (max-width: 768px) {
  .session {
      align-items: center;
  }
}

/* Para telas muito pequenas (mobile) */
@media (max-width: 480px) {
  .session {
      padding: 20px; /* Mantém um padding mais largo em telas pequenas */
  }
}
