.timeline-container {
    position: relative; /* Para posicionar os elementos dentro */
  }
  
/* Linha central padrão, preta para o tema claro com maior especificidade */
.timeline-container .VerticalTimeline {
    border-left: 2px solid black; /* Linha central preta para o tema claro */
  }
  
  /* Altera a linha central para branca quando o tema é escuro */
  [data-tema='escuro'] .timeline-container .VerticalTimeline {
    border-left: 2px solid white; /* Linha central branca no tema escuro */
  }
  
  
  /* Estilo dos eventos da linha do tempo */
  .vertical-timeline-element-title {
    font-weight: bold;
  }
  

  
  /* Opções de fonte e espaçamento para o conteúdo */
  .vertical-timeline-element-content {
    padding: 10px; /* Espaçamento interno */
  }
  
  /* Adiciona transições para a linha central, se desejado */
  .VerticalTimeline {
    transition: border-color 0.3s ease; /* Transição suave ao mudar de tema */
  }
  