/* Estilos principais para o header */
.header {
  font-family: 'Poppins', sans-serif;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 1.5rem;
  color: white;
}

/* Estilos para os links de navegação */
.nav-links {
  display: flex; /* Exibir links horizontalmente em telas grandes */
}

.nav-links ul {
  list-style: none; /* Remove os marcadores da lista */
  padding: 0; /* Remove o padding padrão */
  margin: 0; /* Remove a margem padrão */
  display: flex; /* Itens da lista horizontal no desktop */
  gap: 20px; /* Espaçamento entre os links */
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px; /* Espaçamento entre ícone e texto */
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #007bff; /* Cor ao passar o mouse */
}

.nav-icon {
  font-size: 1.2rem; /* Tamanho dos ícones */
}

/* Estilos do ícone de menu hambúrguer */
.hamburger {
  display: none; /* Oculto por padrão */
  font-size: 1.8rem;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Esconde os links por padrão em telas menores */
  }

  .nav-links.open {
    display: flex; /* Mostrar links quando o menu estiver aberto */
    flex-direction: column; /* Empilhar links verticalmente */
    position: absolute; /* Posicionamento absoluto */
    top: 60px; /* Abaixo do header */
    right: 0; /* Alinhamento à direita */
    background-color: #333; /* Cor de fundo do menu */
    width: 100%; /* Largura total */
    height: auto; /* Altura automática para o conteúdo */
    justify-content: flex-start; /* Alinhamento dos itens ao topo */
    align-items: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Espaçamento entre os links */
    transition: transform 0.3s ease; /* Transição suave */
  }

  .hamburger {
    display: block; /* Exibir o ícone de menu hambúrguer */
  }
}

/* Para telas muito pequenas (dispositivos móveis) */
@media (max-width: 480px) {
  .nav-links a {
    font-size: 1.3rem; /* Aumentar o tamanho dos textos e ícones em telas muito pequenas */
    width: 100%; /* Para que cada link ocupe a largura total */
    text-align: center; /* Centraliza o texto do link */
  }

  .nav-links.open ul{
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
  }
}
