.skills {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Certifica-se de que o container ocupe toda a largura */
}

.skills h2{
  color: black;
}

.skills-list {
  width: 100%;
  max-width: 1300px; /* Limita o tamanho máximo do carrossel */
}

.slick-slider {
  display: flex;
  justify-content: center; /* Centraliza o carrossel */
}

.slick-track {
  display: flex;
  justify-content: center; /* Garante que os itens no carrossel sejam centralizados */
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s;
  margin: 10px;
  cursor: pointer;
}

.skill-image {
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}




.skill-info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-item:hover {
  transform: scale(1.05);
}

/* Ajustes para os pontinhos de navegação do carrossel */
.slick-dots li button:before {
  color: #fff; /* Cor dos pontinhos */
}

.slick-dots li.slick-active button:before {
  color: #ffd700; /* Cor dourada para o ponto ativo */
}
