.contato-container {
  background-color: #eae9f2;
  padding: 50px 0;
  text-align: center;
}

.contato-container h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #2b2b2b;
  margin-bottom: 20px;
}

.icones-contato {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contato-icone {
  color: #6e45e2;
  font-size: 2.5rem;
  transition: color 0.3s ease;
}

.contato-icone:hover {
  color: #88d3ce;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contato-icone {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .contato-icone {
    font-size: 1.8rem;
  }
}

.contato-container.escuro {
  background-color: #2b2b2b;
  padding: 50px 0;
  text-align: center;
}

.contato-container.escuro h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #eae9f2;
  margin-bottom: 20px;
}

.icones-contato {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contato-icone.escuro {
  color: #88d3ce;
  font-size: 2.5rem;
  transition: color 0.3s ease;
}

.contato-icone.escuro:hover {
  color: #6e45e2;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contato-icone.escuro {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .contato-icone.escuro {
    font-size: 1.8rem;
  }
}
